/* StyleSheet.css */
BODY {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}

.reassignCategoriesClass {
	font-size: 9px;
	color: black;
	overflow: auto;
	border: thin solid black;
	height: 302px;
	width: 300px;
	max-height: 300px;
}

.forgotPasswordButtonClassFF {
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	color: black;
	width: 120px;
}

.loginButtonClassFF {
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	color: black;
	width: 45px;
}

.premiumButtonClassFF {
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	color: black;
	width: 120px;
}

.registerButtonClassFF {
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	color: black;
	width: 65px;
}

.registerButtonClass3FF {
	font-size: 0.85em;
	font-weight: bold;
	text-align: left;
	color: black;
	width: 88px;
}

.buttonClass {
	font-size: 10px;
	font-weight: bold;
}

.buttonClassFF {
	font-size: 0.85em;
	font-weight: bold;
}

.buttonMenuClass {
	font-size: 10px;
	font-weight: bold;
}

.buttonMenuClassFF {
	font-size: 0.85em;
	text-align: left;
}

.buttonAdminClass {
	font-size: 9px;
	font-weight: bold;
	background: Lime;
}

.buttonAdminFunctionClass {
	font-size: 9px;
	width: 60px;
	background: Lime;
}

.buttonAdminFunctionClassFF {
	font-size: 0.85em;
	width: 60px;
	background: Lime;
}

.buttonDirectoryClass {
	font-size: 10px;
	width: 350px;
	text-align: left;
}

.buttonDirectoryClassFF {
	font-size: 0.9em;
	width: 350px;
	text-align: left;
}

.buttonArchivesClass {
	font-size: 10px;
	width: 300px;
	text-align: left;
}

.buttonArchivesClassFF {
	font-size: 0.9em;
	width: 300px;
	text-align: left;
}

.boldPromptTextClass {
	font-size: 10px;
	font-weight: bold;
}

.errorStatusClass {
	font-size: 10px;
	color: red;
}

.errorStatusBoldClass {
	font-size: 10px;
	color: red;
	font-weight: bold;
}

.errorBigStatusBoldClass {
	font-size: 16px;
	color: red;
	font-weight: bold;
}

.onholdStatusClass {
	font-size: 10px;
	color: green;
}

.onholdStatusBoldClass {
	font-size: 10px;
	color: green;
	font-weight: bold;
}

.onholdStatusSmallBoldClass {
	font-size: 8px;
	color: green;
	font-weight: bold;
}

.currentCategoryBoldClass {
	font-size: 11px;
	color: green;
	font-weight: bold;
	font-style: italic;
}

.normalStatusClass {
	font-size: 10px;
	color: blue;
}

.adminAddEntryClass {
	font-size: 12px;
	color: blue;
}

.ajaxLoadingStatusClass {
	font-size: 9px;
	color: red;
}

.smallRadioButton {
	WIDTH: 1.5em; HEIGHT: 1.5em
}

.normalSmallStatusBoldClass {
	font-size: 9px;
	color: blue;
	font-weight: bold;
}

.normalStatusBoldClass {
	font-size: 10px;
	color: blue;
	font-weight: bold;
}

.normalx11StatusBoldClass {
	font-size: 11px;
	color: blue;
	font-weight: bold;
}

.normalx11TextClass {
	font-size: 11px;
	color: black;
}

.normalx9TextClass {
	font-size: 9px;
	color: black;
}

.normalx12StatusBoldClass {
	font-size: 12px;
	color: blue;
	font-weight: bold;
}

.titlex12BoldClass {
	font-size: 12px;
	color: black;
	font-weight: bold;
}

.titlex14BoldClass {
	font-size: 14px;
	color: black;
	font-weight: bold;
}

.titlex12GreenBoldClass {
	font-size: 12px;
	color: green;
	font-weight: bold;
}

.normalBigStatusBoldClass {
	font-size: 16px;
	color: blue;
	font-weight: bold;
}

.textClass {
	font-size: 10px;
}

.textSmallClass {
	font-size: 9px;
}

.textBoldClass {
	font-size: 10px;
	font-weight: bold;
}

.textEntryClass {
	font-size: 11px;
}

.switchcontent {
	background: #E3E6E8;
}

.workingStatusClass {
	font-size: 10px;
	color: black;
	font-weight: bold;
}

.paperBgColorClass {
	background-color : #FFFACD;
}

.paperBgErrorColorClass {
	background-color : #FF8080;
}

.code {
	font-family: courier;
	font-size: 11px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

.codePrint {
	font-family: courier;
	font-size: 11px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
}

.codeSmall {
	font-family: courier;
	font-size: 10px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

.codeSmaller {
	font-family: courier;
	font-size: 8px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

.codeSmallerNoBorder {
	font-family: courier;
	font-size: 8px;
	color: black;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}


